!!!5

# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->


/adasdasdad
%div{:id => "#{@item.type}_#{@item.number}", :class => '#{@item.type} #{@item.urgency}', :phoney => `asdasdasd`}
/ file: app/views/movies/index.html.haml
\d
%ads:{:bleh => 33}
%p==ddd==
  Date/Time:
  - now = DateTime.now 
  %strong= now
   = if now  DateTime.parse("December 31, 2006")
    = "Happy new " + "year!"
%sfd.dfdfg
#content
 .title
   %h1= @title
   = link_to 'Home', home_url

   #contents
%div#content
  %div.articles
    %div.article.title Blah
    %div.article.date 2006-11-05
    %div.article.entry
      Neil Patrick Harris 

%div[@user, :greeting]
  %bar[290]/
  ==Hello!==
